<%- include('../partials/header'); -%>
<%- include('../partials/adminNav'); -%>
     <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Manage Faculty</h2>
                <p class="card-text">Create, edit, or delete faculty.</p>
                <a href="/admin/faculty" class="btn btn-primary">Go to Faculty Management</a>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h2 class="card-title">Manage Students</h2>
                <p class="card-text">Create, edit, or delete students.</p>
                <a href="/admin/student" class="btn btn-primary">Go to Students Management</a>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); -%>
