<footer class="footer bg-dark mt-3 py-3">
    <div class="container">
      <span>© 2024 SPS</span>
    </div>
  </footer>
<script src="/Javascript/bootstrap.bundle.min.js"></script>
</body>

</html>