<footer class="bg-dark text-light text-center mt-3 py-3 fixed-bottom ">
  <div class="container">
    <span>© 2024 <a href="/"
        class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
        SPS</a>
      , Department of ISE, BEC, BGK</span>
  </div>
</footer>
<script src="/Javascript/bootstrap.bundle.min.js"></script>
</body>

</html>