<%- include('partials/header'); -%>
<div class="container-fluid">
  <h1>Student Information Form</h1>
  <form
    class="row g-3 needs-validation"
    action="/student"
    method="POST"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="studDetails">
      <label class="form-label" for="fullname">Full Name:</label>
      <input
        class="form-control"
        type="text"
        id="fullname"
        name="fullname"
        required
      /><br />

      <label class="form-label" for="usn">USN:</label>
      <input
        class="form-control"
        type="text"
        id="usn"
        name="usn"
        required
      /><br />

      <label class="form-label" for="yearOfAdmission">Year of Admission:</label>
      <input
        class="form-control"
        type="text"
        id="yearOfAdmission"
        name="yearOfAdmission"
        required
      /><br />

      <label class="form-label" for="modeOfAdmission">Mode of Admission:</label>
      <select
        class="form-select"
        id="modeOfAdmission"
        name="modeOfAdmission"
        required
      >
        <option value="CET(Aided)">CET (Aided)</option>
        <option value="CET(UnAided)">CET (UnAided)</option>
        <option value="Management">Management</option>
        <option value="COMEDK">COMEDK</option>
        <!-- Add more options as needed --></select
      ><br />

      <label class="form-label" for="cetRank">CET/COMEDK Rank:</label>
      <input
        class="form-control"
        type="number"
        id="cetRank"
        name="cetRank"
        required
      /><br />

      <label class="form-label" for="contactNum">Contact Number:</label>
      <input
        class="form-control"
        type="text"
        id="contactNum"
        name="contactNum"
        required
      /><br />

      <label class="form-label" for="dob">Date of Birth:</label>
      <input
        class="form-control"
        type="date"
        id="dob"
        name="dob"
        required
      /><br />

      <label class="form-label" for="email">Email:</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        required
      /><br />

      <label class="form-label" for="aadhar">Aadhar Number:</label>
      <input
        class="form-control"
        type="text"
        id="aadhar"
        name="aadhar"
        required
      /><br />

      <label class="form-label" for="bloodGroup">Blood Group:</label>
      <input
        class="form-control"
        type="text"
        id="bloodGroup"
        name="bloodGroup"
        required
      /><br />

      <label class="form-label" for="facultyAdvisorName"
        >Faculty Advisor Name:</label
      >
      <input
        class="form-control"
        type="text"
        id="facultyAdvisorName"
        name="facultyAdvisorName"
        required
      /><br />

      <label class="form-label" for="sem">Semester:</label>
      <input
        class="form-control"
        type="text"
        id="sem"
        name="sem"
        required
      /><br />
    </div>

    <div class="parentDetails">
      <h2>Parent/Guardian Details</h2>
      <label class="form-label" for="parentOrGuardianName">Name:</label>
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianName"
        name="parentOrGuardianName"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianRelation"
        >Relationship to Student:</label
      >
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianRelation"
        name="parentOrGuardianRelation"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianOccupation"
        >Occupation:</label
      >
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianOccupation"
        name="parentOrGuardianOccupation"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianQualification"
        >Qualification:</label
      >
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianQualification"
        name="parentOrGuardianQualification"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianContactNum"
        >Contact Number:</label
      >
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianContactNum"
        name="parentOrGuardianContactNum"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianContactNum1"
        >Alt Contact Number:</label
      >
      <input
        class="form-control"
        type="text"
        id="parentOrGuardianContactNum1"
        name="parentOrGuardianContactNum1"
        required
      /><br />

      <label class="form-label" for="parentOrGuardianEmail">Email:</label>
      <input
        class="form-control"
        type="email"
        id="parentOrGuardianEmail"
        name="parentOrGuardianEmail"
        required
      /><br />

      <label class="form-label" for="address">Address:</label>
      <textarea
        class="form-control"
        id="address"
        name="address"
        required
      ></textarea
      ><br />
    </div>

    <h2>Class X Information</h2>
    <label class="form-label" for="classXYearOfPassing">Year of Passing:</label>
    <input
      class="form-control"
      type="text"
      id="classXYearOfPassing"
      name="classX[yearOfPassing]"
      required
    /><br />

    <label class="form-label" for="classXBoard">Board:</label>
    <input
      class="form-control"
      type="text"
      id="classXBoard"
      name="classX[board]"
      required
    /><br />

    <label class="form-label" for="classXInstitute">Institute:</label>
    <input
      class="form-control"
      type="text"
      id="classXInstitute"
      name="classX[institute]"
      required
    /><br />

    <label class="form-label" for="classXScore">Score:</label>
    <input
      class="form-control"
      type="text"
      id="classXScore"
      name="classX[score]"
      required
    /><br />

    <h2>Class XII Information</h2>
    <label class="form-label" for="classXIIPassingYear">Year of Passing:</label>
    <input
      class="form-control"
      type="text"
      id="classXIIPassingYear"
      name="classXII[yearOfPassing]"
      required
    /><br />

    <label class="form-label" for="classXIIBoard">Board:</label>
    <input
      class="form-control"
      type="text"
      id="classXIIBoard"
      name="classXII[board]"
      required
    /><br />

    <label class="form-label" for="classXIIInstitute">Institute:</label>
    <input
      class="form-control"
      type="text"
      id="classXIIInstitute"
      name="classXII[institute]"
      required
    /><br />

    <label class="form-label" for="classXIIScore">Score:</label>
    <input
      class="form-control"
      type="text"
      id="classXIIScore"
      name="classXII[score]"
      required
    /><br />

    <h2>Credit Information</h2>
    <!-- Repeat this section based on the number of creditInfo objects in the schema -->
    <label class="form-label" for="noOfSemesters"
      >Number of Semesters Completed:</label
    >
    <input
      class="form-control"
      type="number"
      id="noOfSemesters"
      name="noOfSemesters"
      required
    /><br />

    <div id="creditInfoRows"></div>

    <!-- Repeat the above section for each creditInfo object -->

    <h2>Supplementary Exams Information</h2>
    <!-- Repeat this section based on the number of supplementary objects in the schema -->
    <label class="form-label" for="noOfSupplementary"
      >Number of Supplementary Semesters:</label
    >
    <input
      class="form-control"
      type="number"
      id="noOfSupplementary"
      name="noOfSupplementary"
      required
    />

    <div id="supplementaryInputsContainer"></div>

    <!-- Repeat the above section for each supplementary object -->

    <h2>Backlogs Information</h2>
    <!-- Repeat this section based on the number of backlogs objects in the schema -->
    <label class="form-label" for="noOfBacklogs">Number of Backlogs:</label>
    <input
      class="form-control"
      type="number"
      id="noOfBacklogs"
      name="noOfBacklogs"
      required
    /><br />

    <div id="backlogsRows"></div>
    <!-- Repeat the above section for each backlog object -->

    <h2>Current Semester Registered Subjects</h2>
    <!-- Repeat this section based on the number of currentSemRegSub objects in the schema -->
    <label class="form-label" for="noOfCurrentSubjects"
      >Number of Current Semester Registered Subjects:</label
    >
    <input
      class="form-control"
      type="number"
      id="noOfCurrentSubjects"
      name="noOfCurrentSubjects"
      required
    /><br />

    <div id="currentSubjectsRows"></div>

    <!-- Repeat the above section for each currentSemRegSub object -->

    <label class="form-label" for="currentCGPA">Current CGPA:</label>
    <input
      class="form-control"
      type="number"
      step="0.01"
      id="currentCGPA"
      name="currentCGPA"
      required
    /><br />

    <h2>Activity Points</h2>
    <label class="form-label" for="communityPts"
      >Community Points Earned:</label
    >
    <input
      class="form-control"
      type="number"
      id="communityPts"
      name="activityPts[communityPts]"
      required
    /><br />

    <label class="form-label" for="alliedPts">Allied Points Earned:</label>
    <input
      class="form-control"
      type="number"
      id="alliedPts"
      name="activityPts[alliedPts]"
      required
    /><br />

    <label class="form-label" for="totalPts">Total Points Earned:</label>
    <input
      class="form-control"
      type="number"
      id="totalPts"
      name="activityPts[totalPts]"
      required
    /><br />

    <input class="btn btn-primary" type="submit" value="Submit" />
    <input class="btn btn-secondary" type="reset" value="reset" />
  </form>
</div>
<%- include('partials/footer'); -%>