<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
  <div class="container">
    <h1>Student Information Form</h1>
    <form class="row g-3 needs-validation" action="/student/<%= student._id %>" method="POST" enctype="multipart/form-data" novalidate>
      <div class="row g-3 mb-3 studentDetails">
        <h2>Student Details</h2>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="fullname">Full Name:</label>
          <input class="form-control" type="text" id="fullname" name="fullname" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="usn">USN:</label>
          <input class="form-control" type="text" id="usn" name="usn" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="yearOfAdmission">Year of Admission:</label>
          <input class="form-control" type="number" id="yearOfAdmission" name="yearOfAdmission" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="yearOfGraduation">Year of Graduation:</label>
          <input class="form-control" type="number" id="yearOfGraduation" name="yearOfGraduation" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="modeOfAdmission">Mode of Admission:</label>
          <select class="form-select" id="modeOfAdmission" name="modeOfAdmission" required>
            <option value="CET(Aided)">CET (Aided)</option>
            <option value="CET(UnAided)">CET (UnAided)</option>
            <option value="Management">Management</option>
            <option value="COMEDK">COMEDK</option>
            <!-- Add more options as needed -->
          </select>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="cetRank">CET/COMEDK Rank:</label>
          <input class="form-control" type="number" id="cetRank" name="cetRank" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="contactNum">Contact Number:</label>
          <input class="form-control" type="number" id="contactNum" name="contactNum" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="dob">Date of Birth:</label>
          <input class="form-control" type="date" id="dob" name="dob" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="email">Email:</label>
          <input class="form-control" type="email" id="email" name="email" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="aadhar">Aadhar Number:</label>
          <input class="form-control" type="number" id="aadhar" name="aadhar" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="bloodGroup">Blood Group:</label>
          <input class="form-control" type="text" id="bloodGroup" name="bloodGroup" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="facultyAdvisorName">Faculty Advisor Name:</label>
          <input class="form-control" type="text" id="facultyAdvisorName" name="facultyAdvisorName" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="sem">Semester:</label>
          <input class="form-control" type="number" id="sem" name="sem" required />
        </div>
      </div>

      <div class="row g-3 mb-3 parentDetails">
        <h2>Parent/Guardian Details</h2>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianName">Name:</label>
          <input class="form-control" type="text" id="parentOrGuardianName" name="parentOrGuardianName" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianRelation">Relationship to Student:</label>
          <input class="form-control" type="text" id="parentOrGuardianRelation" name="parentOrGuardianRelation"
            required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianOccupation">Occupation:</label>
          <input class="form-control" type="text" id="parentOrGuardianOccupation" name="parentOrGuardianOccupation"
            required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianQualification">Qualification:</label>
          <input class="form-control" type="text" id="parentOrGuardianQualification"
            name="parentOrGuardianQualification" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianContactNum">Contact Number:</label>
          <input class="form-control" type="number" id="parentOrGuardianContactNum" name="parentOrGuardianContactNum"
            required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianContactNum1">Alt Contact Number:</label>
          <input class="form-control" type="number" id="parentOrGuardianContactNum1" name="parentOrGuardianContactNum1"
            required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="parentOrGuardianEmail">Email:</label>
          <input class="form-control" type="email" id="parentOrGuardianEmail" name="parentOrGuardianEmail" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="address">Address:</label>
          <textarea class="form-control" id="address" name="address" required></textarea>
        </div>
      </div>

      <div class="row g-3 academicDetails">
        <h2>Academic Details</h2>
        <h2>Class X Information</h2>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXYearOfPassing">Year of Passing:</label>
          <input class="form-control" type="number" id="classXYearOfPassing" name="classX[yearOfPassing]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXBoard">Board:</label>
          <input class="form-control" type="text" id="classXBoard" name="classX[board]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXInstitute">Institute:</label>
          <input class="form-control" type="text" id="classXInstitute" name="classX[institute]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXScore">Score:</label>
          <input class="form-control" type="text" id="classXScore" name="classX[score]" required />
        </div>

        <h2>Class XII Information</h2>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXIIPassingYear">Year of Passing:</label>
          <input class="form-control" type="number" id="classXIIPassingYear" name="classXII[yearOfPassing]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXIIBoard">Board:</label>
          <input class="form-control" type="text" id="classXIIBoard" name="classXII[board]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXIIInstitute">Institute:</label>
          <input class="form-control" type="text" id="classXIIInstitute" name="classXII[institute]" required />
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="classXIIScore">Score:</label>
          <input class="form-control" type="text" id="classXIIScore" name="classXII[score]" required />
        </div>

        <h2>Credit Information</h2>

        <div class="col-sm-4">
          <label class="form-label" for="noOfSemesters">Number of Semesters Completed:</label>
          <input class="form-control" type="number" id="noOfSemesters" name="noOfSemesters" required />
        </div>

        <div class="row g-3" id="creditInfoRows"></div>

        <!-- Repeat the above section for each creditInfo object -->

        <h2>Supplementary Semester Information</h2>
        <div class="col-sm-4">
          <label class="form-label" for="noOfSupplementary">Number of Supplementary Semesters:</label>
          <input class="form-control" type="number" id="noOfSupplementary" name="noOfSupplementary" required />
        </div>

        <div class="row g-3" id="supplementaryInputsContainer"></div>

        <!-- Repeat the above section for each supplementary object -->

        <h2>Backlogs Information</h2>
        <div class="col-sm-4">
          <label class="form-label" for="noOfBacklogs">Number of Backlogs:</label>
          <input class="form-control" type="number" id="noOfBacklogs" name="noOfBacklogs" required />
        </div>

        <div class="row g-3" id="backlogsRows"></div>
        <!-- Repeat the above section for each backlog object -->

        <h2>Current Semester Information</h2>
        <div class="col-sm-4">
          <label class="form-label" for="noOfCurrentSubjects">Number of Registered Subjects:</label>
          <input class="form-control" type="number" id="noOfCurrentSubjects" name="noOfCurrentSubjects" required />
        </div>

        <div class="row g-3" id="currentSubjectsRows"></div>

        <!-- Repeat the above section for each currentSemRegSub object -->

        <div class="col-sm-6 col-md-4 col-lg-3">
          <label class="form-label" for="currentCGPA">Current CGPA:</label>
          <input class="form-control" type="number" step="0.01" id="currentCGPA" name="currentCGPA" required />
        </div>

        <h2>Activity Points</h2>
        <div class="col-sm-6 col-md-4">
          <label class="form-label" for="communityPts">Community Points Earned:</label>
          <input class="form-control" type="number" id="communityPts" name="activityPts[communityPts]" required />
        </div>

        <div class="col-sm-6 col-md-4">
          <label class="form-label" for="alliedPts">Allied Points Earned:</label>
          <input class="form-control" type="number" id="alliedPts" name="activityPts[alliedPts]" required />
        </div>

        <div class="col-sm-6 col-md-4">
          <label class="form-label" for="totalPts">Total Points Required:</label>
          <input class="form-control" type="number" id="totalPts" name="activityPts[totalPts]" required />
        </div>
      </div>

      <div class="row g-3 docs">
        <h2>Attachments</h2>
        <div class="col-sm-6 regSemFiles">
          <label class="form-label" for="regSemFiles">Regular Sem Report Cards:</label>
          <input class="form-control" type="file" id="regSemFiles" name="regSemFiles" required multiple />
        </div>

        <div class="col-sm-6 suppSemFiles">
          <label class="form-label" for="suppSemFiles">Supplymentary Sem Report Cards:</label>
          <input class="form-control" type="file" id="suppSemFiles" name="suppSemFiles" multiple />
        </div>
        <p class="text-muted">Each file should be less than 1mb and upload all relevant report cards in pdf format</p>
      </div>

      <div class="d-flex justify-content-center">
        <input class="btn btn-primary mx-2 p-2" type="submit" value="Submit" />
        <input class="btn btn-secondary mx-2 p-2" type="reset" value="Reset" />
      </div>
    </form>
  </div>
  <script src="/Javascript/dynamicContent.js"></script>
  <%- include('../partials/footer'); -%>